             <configuration>  
			   <system.webServer>
                                <rewrite>
                                <rules>
                                                <rule name="AddWwwPrefix" >
                                                                <match url="(.*)" ignoreCase="true" />
                                                                <conditions>
                                                                                <add input="{HTTP_HOST}" pattern="^ssort\.in" />
                                                                </conditions>
                                                                <action type="Redirect" url="http://www.ssort.in/{R:1}"
                                                                redirectType="Permanent" />
                                                </rule>
                                                <rule name="HideIndexFile" >
                                                                <match url="index\.php" ignoreCase="true" />
                                                                <conditions>
                                                                                <add input="{HTTP_HOST}" pattern="ssort\.in" />
                                                                </conditions>
                                                                <action type="Redirect" url="http://www.ssort.in/"
                                                                redirectType="Permanent" />
                                                </rule>
                                                <rule name="handle404" >
                                                                <match url=".*" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                        <action type="Redirect" url="http://www.ssort.in/404.php"
                            redirectType="Permanent" />
             </rule>
                                                <!--<rule name="cacheControlMode" >
                                                <staticContent>
                                                <clientCache httpExpires="Mon, 1 Aug 2016 00:00:00 GMT" cacheControlMode="UseExpires" />
                                                </staticContent>
                                                <handlers>
                                                  <add
                                                                name="HtmlHandler"
                                                                path="*.html"
                                                                verb="*"
                                                                type="System.Web.Handlers"
                                                                preCondition="integratedMode"
                                                  />
                                                </handlers>
                                                </rule>-->
                                </rules>
                                </rewrite>
                </system.webServer>
</configuration>